@{
    //ViewBag.Title = "Index";
    Page.Title = "Шаблон работает";
}

<div class="container_scroll">
    <span id="scroll_left" class="left"><</span>
    <span id="scroll_right" class="right">></span>
    <div class="container_img">
        @*<a href="#">
            <img src="~/Content/Img/test.jpg" />
        </a>*@
        @foreach (var item in ViewBag.ListOfAlbum)
        { 
            <a href="#">
                <img src="/GetAlbum/Preview/@item.Id" />
            </a>
        
        }
    </div>


</div>
<div class="ref">
    <a href="http://nautiluskms.ru">Вернуться на основной сайт</a> <br /><br />
    <a href="http://foto.nautiluskms.ru">Посмотреть другой фотоальбом</a>
</div>
<div class="container_gallery">
    

</div>

<script src="~/Content/JS/jsalbum.js"></script>
