<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link href="~/Content/Css/Style.css" rel="stylesheet" />
    </head>
    <body>
       
        @RenderBody()
    </body>
</html>
