<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        
        <link href="~/Content/Css/Style.css" rel="stylesheet" />
        <script src="~/Content/JS/jquery-1.8.2.min.js"></script>
    </head>
    <body>
       
        @RenderBody()
       
    </body>
</html>
